{% extends "base.html" %}
{% load static %}
{% block header %}
    <!-- header (same as index.html) -->
    <header class="header-default">
        <nav class="navbar navbar-expand-lg">
            <div class="container-xl">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <span class="custom-logo">Nigel<span class="custom-dot">.</span></span>
                </a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="{% url 'index' %}">Home</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'index' %}">Magazine</a></li>
                                <li><a class="dropdown-item" href="#">Personal</a></li>
                            </ul>
                        </li>
                        {% for category in categories %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'category' category.slug %}">{{ category.name }}</a>
                        </li>
                        {% endfor %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="header-right">
                    <ul class="social-icons list-unstyled list-inline mb-0">
                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                    <div class="header-buttons">
                        <button class="search icon-button"><i class="icon-magnifier"></i></button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

{% block body %}
<section class="main-content mt-3">
    <div class="container-xl">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'category' post.category.slug %}">{{ post.category.name }}</a></li>
                <li class="breadcrumb-item active">{{ post.title|truncatechars:20 }}</li>
            </ol>
        </nav>

        <div class="row gy-4">
            <div class="col-lg-8">
                <!-- Post Content -->
                <div class="post post-single">
                    <div class="post-header">
                        <h1 class="title mt-0 mb-3">{{ post.title }}</h1>
                        <ul class="meta list-inline mb-0">
                            <li class="list-inline-item">
                                <a href="#">
                                    {% if post.author.profile_image %}
                                        <img src="{{ post.author.profile_image.url }}" class="author" alt="{{ post.author }}"/>
                                    {% else %}
                                        <img src="{% static 'images/other/author-sm.png' %}" class="author" alt="{{ post.author }}"/>
                                    {% endif %}
                                    {{ post.author }}
                                </a>
                            </li>
                            <li class="list-inline-item">{{ post.date|date:"F j, Y" }}</li>
                            <li class="list-inline-item">{{ post.views }} views</li>
                        </ul>
                    </div>
                    
                    <div class="featured-image">
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid">
                    </div>
                    
                    <div class="post-content clearfix">
                        {{ post.content|safe }}
                    </div>
                    
                    <div class="post-bottom">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-6 col-12 text-center text-md-start">
                                {% if post.section %}
                                <span class="badge bg-primary">{{ post.get_section_display }}</span>
                                {% endif %}
                            </div>
                            <div class="col-md-6 col-12">
                                <ul class="social-icons list-unstyled list-inline mb-0 float-md-end">
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- About Author -->
                <div class="spacer" data-height="50"></div>
                <div class="about-author padding-30 rounded">
                    <div class="thumb">
                        {% if post.author.profile_image %}
                            <img src="{{ post.author.profile_image.url }}" alt="{{ post.author }}" class="rounded-circle">
                        {% else %}
                            <img src="{% static 'images/other/avatar-about.png' %}" alt="{{ post.author }}" class="rounded-circle">
                        {% endif %}
                    </div>
                    <div class="details">
                        <h4 class="name">{{ post.author.name }}</h4>
                        <p>{{ post.author.bio|default:"Hey, I'm a Computer Science student at the University of Zimbabwe, passionate about tech, coding, and exploring everything from AI to gadgets and life in Harare." }}</p>
                        <ul class="social-icons list-unstyled list-inline mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>

                <!-- Comments Section -->
                <div class="spacer" data-height="50"></div>
                <div class="comments bordered padding-30 rounded">
                    <h3 class="section-title">Comments ({{ comments.count }})</h3>
                    {% for comment in comments %}
                    <div class="comment rounded">
                        <div class="thumb">
                            <img src="{% static 'images/other/comment-1.png' %}" alt="{{ comment.name }}">
                        </div>
                        <div class="details">
                            <h4 class="name">{{ comment.name }}</h4>
                            <span class="date">{{ comment.date|date:"F j, Y" }}</span>
                            <p>{{ comment.comment }}</p>
                            <a href="#comment-form" class="btn btn-default btn-sm reply-btn" 
                               data-comment-id="{{ comment.id }}">Reply</a>
                        </div>
                    </div>
                    {% empty %}
                    <p class="text-center py-3">No comments yet. Be the first to comment!</p>
                    {% endfor %}
                </div>

                <!-- Comment Form -->
                <div class="spacer" data-height="50"></div>
                <div class="comment-form rounded bordered padding-30" id="comment-form">
                    <h3 class="section-title">Leave Comment</h3>
                    <form method="post" action="{% url 'add_comment' post.blog_slug %}">
                        {% csrf_token %}
                        <input type="hidden" name="parent_id" id="parent_id" value="">
                        <div class="form-group">
                            <textarea name="InputComment" class="form-control" rows="4" placeholder="Your comment..." required></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="InputName" class="form-control" placeholder="Name" required>
                            </div>
                            <div class="col-md-6">
                                <input type="email" name="InputEmail" class="form-control" placeholder="Email" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default mt-3">Submit</button>
                    </form>
                </div>
            </div>

            <div class="col-lg-4">
                <!-- Sidebar Widgets -->
                <div class="widget rounded">
                    <div class="widget-about data-bg-image text-center" data-bg-image="{% static 'images/map-bg.png' %}">
                        <a href="{% url 'index' %}">
                            <span class="custom-logo">Nigel<span class="custom-dot">.</span></span>
                        </a>
                        <p class="mb-4">Hey, I'm a Computer Science student at the University of Zimbabwe, passionate about tech, coding, and exploring everything from AI to gadgets and life in Harare.</p>
                        <ul class="social-icons list-unstyled list-inline mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="widget rounded">
                    <h3 class="widget-title">Popular Posts</h3>
                    {% for post in popular_posts|slice:":3" %}
                    <div class="post post-list-sm circle">
                        <div class="thumb circle">
                            <a href="{% url 'blog_detail' post.blog_slug %}">
                                <div class="inner">
                                    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="rounded">
                                </div>
                            </a>
                        </div>
                        <div class="details">
                            <h6 class="post-title"><a href="{% url 'blog_detail' post.blog_slug %}">{{ post.title }}</a></h6>
                            <ul class="meta list-inline mt-1 mb-0">
                                <li class="list-inline-item">{{ post.date|date:"M j, Y" }}</li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="widget rounded">
                    <h3 class="widget-title">Categories</h3>
                    <ul class="list">
                        {% for category in categories %}
                        <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
// Reply to comment functionality
document.querySelectorAll('.reply-btn').forEach(btn => {
    btn.addEventListener('click', function() {
        document.querySelector('#parent_id').value = this.dataset.commentId;
        document.querySelector('#comment-form').scrollIntoView({
            behavior: 'smooth'
        });
    });
});
</script>
{% endblock %}